<h1>  Welcome To Your Profile </h1>

<%= link_to "My profile", profile_path(current_user.id)%> ||
<%= link_to "Create Resume",new_create_resume_path %> ||
<%= link_to "Post Event",new_user_registration_path %> ||
<%= link_to "Post Job",new_user_registration_path %> ||
<%= link_to "Post Classified Ad",new_user_registration_path %>  <br/> <br/>
<br/> 

<%= link_to "Edit profile", edit_profile_path(current_user.id)%> <br/><br/> <br/>
<%= link_to "Messages",new_user_registration_path %>  <br/><br/> <br/>
<%= link_to "My Classified List",new_user_registration_path %>  <br/>